.header {
  width: 100%;
  background: #fefefe;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header__container {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  width: 100%;
  height: 52px;
  justify-content: space-between;
  align-items: center;
}
.logo__icon {
  width: 66px;
  height: 52px;
}

.burger-open {
  position: absolute;
  right: 20px;
  height: 28px;
  border: none;
  align-items: center;
  background-color: $white-color;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.burger__icon {
  fill: #7eb101;
  transition: color 250ms $animation;
}
.burger-open:hover,
.burger-open:focus .burger__icon {
  fill: $main-color;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 28px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.nav__item {
  height: 100%;
  display: flex;
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
  transition: color 250ms $animation;
}

.nav__item:hover,
.nav__item:focus .nav__link {
  color: $button-color;
  border: none;
}

.nav__link {
  display: block;

  padding-top: 10px;
  padding-bottom: 10px;
  transition: color 250ms $animation;
}

.nav__link--current,
.nav__link:focus,
.nav__link:hover {
  color: $button-color;
  border: none;
}

.button-order {
  width: 98px;
  height: 32px;
  margin-left: 30px;
  background: $button-color;
  border-radius: 30px;
  font-size: 13px;
  line-height: 1.5;
  text-align: center;
  color: $dark-color;
  border: none;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    display: none;
  }
  transition: color 250ms $animation;
}

.button-order:hover,
.button-order:focus {
  background: #b5ff00;
}

.mobile-menu {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &.is-open {
    opacity: 1;
    pointer-events: painted;
  }
  width: 130px;
  height: 255px;
  display: flex;
  right: 20px;
  top: 50px;
  z-index: 10;
  background: $back-color;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  @media screen and (min-width: 768px) {
    box-shadow: none;
  }
  border-radius: 30px 0px 30px 30px;
  overflow: hidden;
}

.mobile-nav {
  flex-direction: column;
  width: 100%;
}
.burger-open:active .mobile-nav {
  visibility: hidden;
}

.mobile-nav__list {
  justify-content: space-between;
}

.mobile-nav__item {
  align-items: center;
  font-size: 16px;
  line-height: 1.19;
  color: #000000;
  transition: color 250ms $animation;
}

.mobile-nav__item:hover,
.mobile-nav__item:focus {
  background-color: $button-color;
}

.mobile-nav__link {
  display: block;
  padding: 16px;
  transition: color 250ms $animation;
}

.mobile-nav__link:focus {
  background: $button-color;
}

.burger-close {
  position: absolute;
  padding: auto auto;
  right: 0;
  width: 24px;
  height: 24px;
  top: 4px;
  right: 4px;
  border: none;
  background: none;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(94, 99, 99, 0.7);
  opacity: 1;
  z-index: 3;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  &.modal {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.modal {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  padding: 32px;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  height: 449px;
  background: $main-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 480px) {
    width: 458px;
  }
}

.button-close {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 16px;
  top: 16px;
  border-radius: 50%;
  border: none;
  background-color: $white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.form {
  width: 100%;
  &__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: #2c2c2c;
  }
}

.form__field {
  width: 100%;
}

.form__item {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.form__lable {
  margin-bottom: 2px;
  margin-left: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: $dark-color;
}

.form__input {
  position: relative;
}

.form__input-line {
  position: relative;
  outline: none;
  display: flex;
  height: 48px;
  align-items: center;
  background: $white-color;
  border: 1px solid rgba(18, 18, 18, 0.12);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding-left: 12px;
  align-items: center;
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  color: $dark-color;
}

.form {
  &__input-line:hover,
  &__input-line:active,
  &__input-line:focus {
    border-color: #7eb101;
  }
  &__input-line:invalid {
    border-color: #ff705d;
  }
  &__input-line:invalid + .form__icon-danger {
    display: flex;
    align-items: center;
    border-color: #ff705d;
  }

  &__svg-icon {
    align-items: center;
    justify-content: center;
    margin-right: 3px;
  }

  &__icon-danger {
    display: none;
    font-size: 13px;
    position: absolute;
    width: 100%;
    line-height: 1.4;
    align-items: center;
    height: auto;
    top: 48px;
    left: 10px;
    color: #ff705d;
  }
}

.form__button-field {
  width: 100%;
  text-align: center;
  margin-top: 32px;
}
.form__button {
  text-align: center;
  bottom: 0;
  width: 106px;
  height: 40px;
  background: $white-color;
  border: 2px solid $second-color;
  border-radius: 30px;
  cursor: pointer;
}
