<footer class="footer section">
  <div class="footer__container container">
    <div class="footer__cont-desktop">
      <div class="footer__nav-container">
        <a href="#" class="footer__logo">
          <svg class="footer__logo-icon" width="69" height="51">
            <use href="/src/images/symbol-defs.svg#logo"></use></svg></a>
        <nav class="footer__nav">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="#hero" class="footer__nav-name">Home</a>
            </li>
            <li class="footer__nav-item">
              <a href="#offering" class="footer__nav-name">About</a>
            </li>
            <li class="footer__nav-item">
              <a href="#customer" class="footer__nav-name">Service</a>
            </li>
            <li class="footer__nav-item">
              <a href="#favorites" class="footer__nav-name">Menu</a>
            </li>
            <li class="footer__nav-item">
              <a href="#subsribe" class="footer__nav-name">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div>
        <h2 class="footer__subs-title">Subscribe</h2>
        <div class="footer__subscribe">
          <input
            class="footer__input-line"
            type="email"
            name="mail"
            id="mail"
            placeholder="Enter your email"
          />

          <div class="footer__icon-danger">
            <svg class="footer__svg-icon" style="width: 12px; height: 12px">
              <use href="/src/images/symbol-defs.svg#icon-danger"></use></svg>
              <span> Not a valid email address (example@email.com)</span>
          </div>

          <button class="footer__button button" type="button">Subscribe</button>
        </div>
        <p class="footer__text">
          By subscribing you agree to with our
          <span class="footer__policy"><a href="#">Privacy Policy</a></span>
        </p>
      </div>
    </div>
    <div class="footer__bottom">
      <ul class="footer__policy_list">
        <li><a href="#" class="footer__policy-item">Privacy Policy</a></li>
        <li><a href="#" class="footer__policy-item">Terms of Service</a></li>
        <li><a href="#" class="footer__policy-item">Cookies Settings</a></li>
      </ul>

      <p class="footer__foodstra">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
