        <!--Хедер-->
        <section class="header">
        <header>
            <div class="header__container  container">
                <div class="logo">
                <svg class="logo_icon" width="66" height="52">
                        <use href="./images/symbol-defs.svg#logo"></use>
                    </svg>
                    

                <button class="burger-open js-close-menu">
                    <svg class="burger__icon" width="28" height="28">
                        <use href="./images/symbol-defs.svg#header-burger"></use>
                    </svg>
                </button>
                </div>

                <!--десктоп/таблет меню-->
                                  <nav class="navigation">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a
                                    href=""
                                    class="nav__link nav__link--current"
                                    >Home</a
                                >
                            </li>
                            <li class="nav__item">
                                <a
                                    href=""
                                    class="nav__link "
                                    >About</a
                                >
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link"
                                    >Service</a
                                >
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link"
                                    >Menu</a
                                >
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link"
                                    >Contact</a
                                >
                            </li>
                        </ul>
                    </nav>
                    <button
                        data-modal-open
                        type="button"
                        class="button-order"
                    >Order Now</button>
             
               </div>
               
                      <!--Мобільне меню-->

                        <nav class="mobile-nav">
                            <ul class="mobile-nav__list">
                            <li class="mobile-nav__item">
                                <a
                                    href="#"
                                    class="mobile-nav__link mobile-nav__link--current"
                                    >Home</a
                                >
                            </li>
                            <li class="mobile-nav__item">
                                <a
                                    href="#"
                                    class="mobile-nav__link "
                                    >About</a
                                >
                            </li>
                            <li class="mobile-nav__item">
                                <a href="#" class="mobile-nav__link"
                                    >Service</a
                                >
                            </li>
                            <li class="mobile-nav__item">
                                <a href="#" class="mobile-nav__link"
                                    >Menu</a
                                >
                            </li>
                            <li class="mobile-nav__item">
                                <a href="#" class="mobile-nav__link"
                                    >Contact</a
                                >
                            </li>
                        </ul>
                        </nav>
             
                    <button
                        class="burger-close js-open-menu"
                        aria-expanded="false"
                        aria-controls="mobile-menu"
                    >
                        <svg class="cross-icon" width="24" height="24">
                            <use
                                href="./images/symbol-defs.svg#header-menu-cross"
                            ></use>
                        </svg>
                    </button>
                </div>
                         
                    
              
               </section>