<section class="section offering__section" id="offering">
  <div class="container offering__container">
    <div class="offering__apple">
      <div class="offering__big-apple">
        <div class="offering__box-apple"></div>
        <div class="offering__obj-apple">
          <picture>
            <source
              srcset="
                ./images/desktop/offering-apple-d.png    1x,
                ./images/desktop/offering-apple-d@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/tablet/offering-apple-t-big.png    1x,
                ./images/tablet/offering-apple-t-big@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/offering-apple-m.png    1x,
                ./images/mobile/offering-apple-m@2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img src="./images/mobile/offering-apple-m.png" alt="Green apple" />
          </picture>
        </div>
      </div>
      <div class="offering__medium-apple">
        <picture>
          <source
            srcset="
              ./images/tablet/offering-apple-t-medium.png    1x,
              ./images/tablet/offering-apple-t-medium@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./images/tablet/offering-apple-t-medium.png"
            alt="Green apple"
          />
        </picture>
      </div>
      <div class="offering__small-apple">
        <picture>
          <source
            srcset="
              ./images/tablet/offering-apple-t-small.png    1x,
              ./images/tablet/offering-apple-t-small@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./images/tablet/offering-apple-t-small.png"
            alt="Green apple"
          />
        </picture>
      </div>
    </div>

    <div class="offering__detail">
      <div class="offering_box-header">
        <h2 class="offering__box-header-title">
          What’s Special About Our Offerings
        </h2>
        <p class="offering__box-header-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
      </div>
      <ul class="offering__list">
        <li class="offering__list-item">
          <h3 class="offering__list-header offering__rocket">
            Fasest Delivery
          </h3>
          <p class="offering__list-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offering__list-item">
          <h3 class="offering__list-header offering__finger">
            Fasest Delivery
          </h3>
          <p class="offering__list-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <div class="offering__box-button">
        <button type="button" class="offering__button">Order Now</button>
        <a class="offering__box-button-text" href="#">Read More</a>
      </div>
    </div>
  </div>
</section>
