<section class="section subscribe__section" id="subscribe">
  <div class="container subscribe__container">
    <div class="subscribe__banan">
      <picture>
        <source
          srcset="
            ./images/desktop/customer-banan-desktop.png    1x,
            ./images/desktop/customer-banan-desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet/customer-banan-tablet.png    1x,
            ./images/tablet/customer-banan-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/customer-banan-mobile.png    1x,
            ./images/mobile/customer-banan-mobile@2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/mobile/customer-banan-mobile.png" alt="Banan" />
      </picture>
    </div>
    <div>
      <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
      <p class="subscribe__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>

      <form class="subscribe__form">
        <input
          class="subscribe__input-line"
          type="email"
          name="mail"
          id="subscribe-mail"
          placeholder="Enter your email"
        />
        <div class="subscribe__icon-danger">
          <svg class="subscribe__svg-icon" style="width: 12px; height: 12px">
            <use href="/src/images/symbol-defs.svg#icon-danger"></use>
          </svg>
          <span> Not a valid email address (example@email.com)</span>
        </div>
        <button class="subscribe__btn" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</section>
